:root {
    --color-1 : gray;
    --bg-color : #fafafa;
    --black-2 : #000;
    --border-color : #775353;
}

table {
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid rgb(43, 42, 42);
    padding: 20px;
    text-align: center;
    background-color: #000;
    color: #fafafa;
}

.flex {
    display: flex;
    gap: 15px;
}

.flex-item {
    flex: 1;
}

.grid-cell, .flex-item {
    height: 200px;
    background-color: var(--bg-color);
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--border-color);
}

.equal-to {
    background-color: cyan;
}

/** Styling on mobile devices **/

@media (max-width: 765px) {
    .flex {
        flex-direction: column;
    }
}

.title {
    color: rgb(59, 72, 211);
}

h2 {
    padding: 0;
}
